* {
    box-sizing: border-box;
}

button {
    border: none;
}
button:active {
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.3);
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
}

.section {
    margin-top: 4em;
    margin-bottom: 4em;
    margin-left: 0;
    margin-right: 0;
    display: block;
}


.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;
    display: block;
}

.column {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

/* navbar */




.navbar {
    color: white;
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    display: flex;
    flex-direction: row;
    margin: 0;
    /* margin: 0 64px; */
    padding: 24px 0px;
    align-items: center;
    width: 100%;
    height: 96px;
    background-color: transparent;
}

/* .navbar-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

} */

.navbar-container {
    width: 100%;
    /* max-width: 1200px; o lo que prefieras */
    margin: 0 auto; /* ✅ Esto centra horizontalmente */
    padding: 0 64px; /* ✅ Espacio a los lados */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 32px;
    font-weight: bolder;
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 24px;
}
.navbar-menu-items {
    
    display: flex;
    gap: 41px;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 50%;
    gap: 41px;
    justify-content: end;
}

.navbar-menu-items li {
    cursor: pointer;
    
}

.navbar-cta-button {
    background-color: #0099FA;
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    height: 43px;
    width: 206px;
    font-size: 16px;
}

/* hero */


.hero-section {
    margin: 0;
    padding: 0;
}


.hero {
    height: 100vh;
    width: auto;
    justify-content: center;
    align-items: start;
    margin-left: 128px;
    padding-top: 0;
    margin: 0;
    color: white;
}

.hero-bg {
    background-image: url("./img/bg-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
    
}

.hero-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(8, 33, 41, 0.7);
    position: absolute;
}


.hero-container {
    width: 664px;
    height: 335px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 1.5rem; */
    margin-left: 150px;
    padding: 2rem;
    z-index: 2;
}
.hero-primary-text {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    font-weight: bold;
}


.hero-primary-text p {
    text-align: start;
    font-size: 42px;
}

.hero-secondary-text {
    margin-left: 0;
    padding-left: 0;
    margin-top: -32px;
    padding: 0;
    width: 100%;
    height: auto;
}

.hero-secondary-text p {
    text-align: start;
    font-size: 28px;
}

.hero-cta-button button {
    background-color: #0099FA;
    color: white;
    font-weight: bolder;
    border-radius: 8px;
    height: 90px;
    width: 420px;
    font-size: 38px;
}

/* about us */

.about-us-title {
    display: flex;
    gap: 24px;
    width: 30%;
    font-size: 24px;
}

.about-us-text {
    font-size: 16px;
    width: 80%;
}

/* porque elegirnos */

.elegirnos-title {
    font-size: 24px;
    margin-bottom: 24px;
}

.choose {
    display: flex;
    flex-direction: column;
}

.card-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    /* gap: 64px; */

    
}

.choose-card {
    width: 100%;
    height: 221px;
    border-right: 2px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    
}

.choose-card-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 8px 24px;
}



.choose-card:last-child {
    border-right: none;
}



/* .choose-card-image {

} */

.choose-card-image p {
    font-size: 16px;
}

.choose-card-text p{
    font-size: 14px;
}

/* tipos de servicios */

.services-section {
    margin-bottom: 0;
    padding-bottom: 0;
}

.services-content {
    margin: 0;
    padding: 0;
    width: 100%;
}
.services-column {
    margin: 0;
}

.services-card-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.services-card {
    font-size: 38px;
    min-width: 300px;
    flex: 1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    color: white;
    text-align: center;
    /* border-radius: 12px; */
    /* background-image: url("./img/bg-hero.png"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.services-card button {
    font-weight: bolder;
    color: white;
    border-radius: 8px;
}

.proteccion-personal {
    background-image: url("./img/proteccion\ personal.jpg");

}
.proteccion-empresarial {
    background-image: url("./img/proteccion\ empresarial.jpg");

}

.fianzas {
    background-image: url("./img/fianzas.jpg");
}

.services-card button {
    background-color: #0099FA;
    width: 197px;
    height: 46px;
    font-size: 16px;
    font-weight: bolder;
}

/* formulario */

.form-section {
    margin: 0;
    padding: 0;
}

.form-bg {
    background-image: url("./img/form-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    position: relative;
    
    
    
}

.form-bg::before {
    content: "";
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
}

.form-column {
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contact-text {
    font-size: 28px;
    z-index: 2;

}

.form {
    z-index: 2;
    width: 100%;
    margin-bottom: 24px;
    
    display: flex;
    justify-content: center;
    
}

.form-container {
    display: flex;
    gap: 40px;
    width: 85%;
    
}


.form-left,
.form-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.form-left input,
.form-right input,
.form-left select,
.form-right select,
.form-left textarea,
.form-right textarea
.form-left select,
.form-right select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-form {
    display: flex;
    gap: 12px;
}

.select-form select {
    /* Agrega la flechita personalizada */
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px; /* espacio para la flecha */
    height: 48px;
    flex: 1;
}

.select-form input {
    height: 48px;
    flex: 1;
}

.form-left textarea,
.form-right textarea {
    resize: vertical;
    min-height: 100px;
}

.form-right button {
    padding: 12px 24px;
    background-color: #0099FA;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

.form-right button:active{
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
}

.form-location {
    z-index: 2;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-bottom: 24px;
}
.form-location-container {
    display: flex;
    align-items: center;
    gap: 40px;

}

.form-location-map {
    flex: 1;
}

.form-location-info {
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    font-size: 16px;
    margin: 6px 0;
}


/* footer */

.footer-section {
    margin: 0;
    padding: 0;
}

.footer-content {
    margin: 0;
    padding: 0;
    background-color: black;
}

.footer-column{
    margin: 0;
    padding: 24px 64px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.footer-seguros-y-fianzas, .footer-encuentranos {
    font-size: 18px;
    font-weight: bolder;
    
}

.footer-seguros-y-fianzas p,
.footer-encuentranos p {
    margin-bottom: 32px;
}

.footer-contacto {
    display: flex;
    gap: 18px;
}